.root {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid darkgrey;
  }

  &:last-child {
    border: none;
  }



  .time {
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    text-align: center;

    @media (prefers-color-scheme: dark) {
      border-right: 1px solid darkgrey;
      border-left: 1px solid darkgrey;
    }
  }

  .lesson_Item {
    width: 100%;

    .main_Lesson {
      min-height: 48px;
      padding-left: 10px;

      &[data-active="true"] {
        -webkit-box-shadow: inset -1px 0px 24px -7px rgba(64, 104, 222, 1);
        -moz-box-shadow: inset -1px 0px 24px -7px rgba(64, 104, 222, 1);
        box-shadow: inset -1px 0px 24px -7px rgba(64, 104, 222, 1);
      }
    }

    .alternative_Lesson {
      min-height: 48px;
      border-top: 1px dashed darkgrey;
      padding-left: 10px;

      &[data-active="true"] {
        -webkit-box-shadow: inset -1px 0px 24px -7px rgba(64, 104, 222, 1);
        -moz-box-shadow: inset -1px 0px 24px -7px rgba(64, 104, 222, 1);
        box-shadow: inset -1px 0px 24px -7px rgba(64, 104, 222, 1);
      }
    }

    .teacher {
      color: gray;
    }
  }
}

.link {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}