.root {
  padding: 10px;
  display: flex;
  width: 100vw;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 175, 238);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .title {

    margin-right: 10px;
    margin-bottom: 5px;
    height: 60px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    @media (max-width:375px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}